version: '3.8'

services: 
  mysql_exporter: 
    image: prom/mysqld-exporter
    environment:
      - DATA_SOURCE_NAME=exporter:12345_Abc@(host.docker.internal:3306)/
    #  - DATA_SOURCE_NAME='exporter:12345_Abc@(192.168.0.15:3306)/'
    ports:
      - 9104:9104
    container_name: mysql_con    